.main-header {
  background-image: linear-gradient(rgba(154, 93, 212, .5), rgba(154, 93, 212, .5)) ,url(../../assets/images/background.jpg);
  background-position: center;
  background-size: cover;
}
}