#close-mobile-menu:checked + .mobile-menu {
  left: 0;
}

.mobile-menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: -100vw;
  bottom: 0;
  width: 100vw;

  background-color: $darkColor;
  transition: .2s left;
}

.mobile-menu--header {
  position: relative;
  background-image: linear-gradient(rgba(154, 93, 212, .5), rgba(154, 93, 212, .5)) ,url(../../assets/images/background.jpg);
  background-position: center;
  background-size: cover;
  border-bottom: 4px solid rgba(255, 255, 255, .5);

  .mobile-menu--close {
    position: absolute;
    right: 1rem;
    top: 1rem;

    font-size: 1.2em;
    color: $whiteColor;
    background: rgba(64, 64, 64, .5);
    width: 1.5em;
    height: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  p {
    padding: 2em;
    font-weight: 800;
    text-align: center;
    font-size: 2em;
    color: #fff;
  }
}

.mobile-menu--menu {
  li { padding: 1rem 0 1rem 2rem; }
  a {
    color: $whiteColor;
    font-size: 1.2em;
  }
}

.mobile-menu--footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  p {
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #ddd;
  }
}