.header-navbar--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, .2);
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, .3);

  li > a, li > label {
    color: $whiteColor;
    display: flex;
    align-items: center;

    svg {
      font-size: 1.5em;
      margin-right: 1rem;
    }
  }

  li > a {
    text-transform: uppercase;
    padding: 0 1rem;
    text-shadow: $text-shadow;
  }

  .header-navbar--menu--mobile ~ li {
    display: none;
  }
}

.header-navbar--menu--shop-btn {
  color: $whiteColor;
  background-color: $lighterVioletColor;

  border-radius: 2rem;
  padding: .5rem 2rem;

  text-transform: uppercase;
  text-shadow: $text-shadow;
}

@media screen and (min-width: $breakpoint-tablet) {
  .header-navbar--menu {
    ul { display: flex; }
    li.header-navbar--menu--mobile { display: none; }
    li.header-navbar--menu--mobile ~ li { display: list-item; }
  }
}
@media screen and (min-width: $breakpoint-computer) {
  .header-navbar--menu {
    padding: 1rem 20vw;

    li > a {
      font-weight: 800;
      font-size: 1.3rem;
    }
  }
  .header-navbar--menu--shop-btn {
    font-size: 1.3rem;
    font-weight: 800;
  }
}
