.header-navbar--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, .2);
  padding: 1rem;

  li > a, li > label {
    color: $whiteColor;
    display: flex;
    align-items: center;

    svg {
      font-size: 1.5em;
      margin-right: 1rem;
    }
  }
}

.header-navbar--menu--shop-btn {
  color: $whiteColor;
  background-color: $lighterVioletColor;

  border-radius: 2rem;
  padding: .5rem 2rem;

  text-transform: uppercase;
}