//@font-face {
//  font-family: "Sen";
//  src: url(../assets/fonts/Sen-Regular.ttf), url(../assets/fonts/Sen-Bold.ttf), url(../assets/fonts/Sen-ExtraBold.ttf); // 400 700 800
//}

$primaryPadding: 15em;

$primaryFont: "Sen", sans-serif;

$darkColor: #404040;
$goldColor: #e5c86e;
$lighterVioletColor: #a573ea;
$darkerVioletColor: #7a4cb1;
$whiteColor: #ffffff;
$breakpoint-tablet: 769px;
$breakpoint-computer: 1200px;

$text-shadow: 0 0 2px rgb(34, 15, 75);

//$boxShadow: rgba(0, 0, 0,.05) 0 0px 20px;

html {
  font-size: 15px;
  font-family: $primaryFont;
  font-weight: 700;
  background-color: $darkColor;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}


@media (min-width: $breakpoint-tablet) {
  html {
    font-size: 16px;
  }
}