//@font-face {
//  font-family: "Sen";
//  src: url(../assets/fonts/Sen-Regular.ttf), url(../assets/fonts/Sen-Bold.ttf), url(../assets/fonts/Sen-ExtraBold.ttf); // 400 700 800
//}

$primaryPadding: 15em;

$primaryFont: "Sen", sans-serif;

$darkColor: #404040;
$goldColor: #e5c86e;
$lighterYellowColor: #ffd670;
$darkerYellowColor: #ecc463;
$whiteColor: #ffffff;

$breakpoint-tablet: 769px;
$breakpoint-computer: 1200px;

$padding-phone: 1rem;
$padding-tablet: calc(50vw - 350px);
$padding-computer: calc(50vw - 550px);

$text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

//$boxShadow: rgba(0, 0, 0,.05) 0 0px 20px;

html {
  font-size: 15px;
  font-family: $primaryFont;
  font-weight: 700;
  background-color: $darkColor;
  color: $darkColor;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}


@media (min-width: $breakpoint-tablet) {
  html {
    font-size: 16px;
  }
}