//@font-face {
//  font-family: "Sen";
//  src: url(../assets/fonts/Sen-Regular.ttf), url(../assets/fonts/Sen-Bold.ttf), url(../assets/fonts/Sen-ExtraBold.ttf); // 400 700 800
//}

$primaryPadding: 15em;

$primaryFont: "Sen", sans-serif;

$darkColor: #404040;
$lighterVioletColor: #915dd4;
$darkerVioletColor: #7a4cb1;
$whiteColor: #ffffff;

$boxShadow: rgba(0, 0, 0,.05) 0 0px 20px;

html {
  font-size: 15px;
  font-family: $primaryFont;
  font-weight: 700;
  background-color: #EFEFEF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

